.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

.mainNav ul,
.skillsContainer {
    list-style-type: none;
    padding-left: 0;
}

.center {
    text-align: center;
}