header {
    background-image: url(../../assets/headerBg.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: $bgColor;
    height: 100vh;

    .wrapper {
        height: 100%;
    }
}

// Main nav styling
.mainNav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;

    .navItem {
        padding: 15px 20px;

        a {
            color: $primaryColor;
            position: relative;

            &:hover::after {
                content: '';
                width: 90%;
                height: 40%;
                position: absolute;
                left: 5%;
                bottom: -10px;
                background-color: $secondaryColor;
            }

            &:focus {
                color: $secondaryColor;
            }
        }
    }
}

// Header content
.headerContainer {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        text-transform: capitalize;
        padding: 0;
    }
}