header {
    background-image: url(../../assets/headerBg.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: $bgColor;
    height: 100vh;

    .wrapper {
        height: 100%;
    }
}

// Main nav styling
.mainNav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 20px 0;

    .navItem {
        padding: 15px 20px;

        a {
            color: $primaryColor;
            position: relative;

            &:hover,
            &:focus {
                border-bottom: 2px solid $secondaryColor;
            }
        }
    }
}

// Header content
.headerContainer h2 {
    text-transform: capitalize;
}
