// Combined classes using same styles
.aboutSection,
.skillsSection,
.portfolioSection,
.contactSection {
    padding: 50px 0;
}

.aboutContainer,
.portfolioContainer {
    display: flex;
}

.skillsSection,
.contactSection {
    background-color: $bgColor;
}

.aboutImg p,
footer p {
    margin: 0;
    padding: 15px;
    color: $lightColor;
}

.aboutImg p,
footer {
    background: $primaryColor;
}


// About section styling 
.aboutContainer {
    padding: 20px 0;
}
.aboutImg {
    width: 30%;
    margin-right: 50px;

    img {
        border: 15px solid $tertiaryColor;
        border-bottom: none;
    }
}

.aboutText {
    width: 70%;
}

// Skills section styling
.skillsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

    .skillsBox {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    figure {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 80px;
            height: 80px;
            object-fit: contain;
        }

        figcaption {
            margin-top: 10px;
        }

        .terminal {
            font-size: 6rem;
        }
    }
}

// Portfolio section styling
.portfolioContainer {
    padding: 30px 0 50px 0;
}

p.language {
    font-size: 1.4rem;
}

.portfolioImg {
    margin-right: 30px;
    width: 45%;
}

.portfolioDescription {
    width: 55%;

    .portfolioLinks {
        padding: 20px 0;

        a:hover {
            box-shadow: 0 0 5px 0 $darkColor;
        }
    }
}

.portfolioEven .portfolioImg {
    order: 1;
    margin-left: 30px;
    margin-right: 0;
}

// Contact section styling
form {
    width: 70%;
    margin: 0 auto;

    fieldset {
        border: none;
        background: $lightColor;
        padding: 20px;
        box-shadow: 0 0 8px $tertiaryColor;

        .formUserInfo {
            display: flex;
            justify-content: space-between;

        .name,
        .email {
            width: 48%;
            
        }
    }

        .message {
            width: 100%;
            margin: 10px 0;
        }

        .name,
        .email,
        .message {
            border: none;
            border-bottom: 2px solid $tertiaryColor;
            padding: 20px 0;

            &:focus {
                outline: 2px solid $secondaryColor;
            }
        }
    }
}