// Combined classes using same styles
.aboutSection,
.skillsSection,
.portfolioSection,
.contactSection {
    padding: 50px 0;
}

.aboutContainer,
.portfolioContainer {
    display: flex;
}

.skillsSection,
.contactSection {
    background-color: $bgColor;
}

.aboutImg p,
footer p {
    margin: 0;
    padding: 15px;
    color: $lightColor;
}

.aboutImg p,
footer {
    background: $primaryColor;
}


// About section styling 
.aboutContainer {
    padding: 20px 0;
}
.aboutImg {
    width: 30%;
    margin: 20px 50px 20px 0;

    img {
        border-top: 15px solid $primaryColor;
        border-bottom: 15px solid $primaryColor;
    }
}

.aboutText {
    width: 70%;
}

// Skills section styling
.skillsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

    .skillsBox {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    figure {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 80px;
            height: 80px;
            object-fit: contain;
        }

        figcaption {
            margin-top: 10px;
        }

        .terminal {
            font-size: 6rem;
        }
    }
}

// Portfolio section styling
.portfolioContainer {
    padding: 30px 0 50px 0;
}

p.language {
    font-size: 1.4rem;
}

.portfolioImg {
    margin-right: 30px;
    width: 45%;
}

.portfolioDescription {
    width: 55%;

    .portfolioLinks {
        padding: 20px 0;

        a {
            margin-right: 10px;
        }
    }
}

.portfolioEven .portfolioImg {
    order: 1;
    margin-left: 30px;
    margin-right: 0;
}

// Contact section styling
form {
    width: 70%;
    margin: 0 auto;

    fieldset {
        border: none;
        background: $lightColor;
        padding: 20px;
        box-shadow: 0 0 8px $tertiaryColor;

        .formUserInfo {
            display: flex;
            justify-content: space-between;

        .name,
        .email {
            width: 48%;
            
        }
    }

        .message {
            width: 100%;
            margin: 10px 0;
            resize: none;
        }

        .name,
        .email,
        .message {
            border: none;
            border-bottom: 2px solid $tertiaryColor;
            padding: 20px 0;

            &:focus {
                outline: 2px solid $secondaryColor;
            }
        }
    }
}

.social h3 {
    padding-top: 40px;
}

.socialList {
    display: flex;
    justify-content: center;

    i {
        color: $secondaryColor;
        padding: 20px;
        font-size: 3rem;

        &:hover,
        &:focus {
            color: $primaryColor;
        }
    }
}

// Tech test 
.audioContainer {
    position: fixed;
    bottom: 3%;
    right: 3%;
    border: none;
    background: transparent;
    padding: 0;
    z-index: 10;
    transition: all 0.3s ease;
    border-radius: 50px;

    audio {
        clip-path: circle(18px at 9% 50%);
    }

    .listenTxt {
        margin: 0;
        position: absolute;
        top: 20%;
        left: 25%;
        font-size: 1.4rem;
        background: $bgColor;
        padding: 5px;
    }

    @media (max-width: 768px) {
        audio {
            width: 250px;
        }
    }
}


