html {
    font-size: 62.5%;
}

body,
a {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    color: $primaryColor;
    font-size: 7rem;
}

h2 {
    padding: 20px 0;
    text-transform: uppercase;
}

footer p {
    font-size: 1.4rem;
}