article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.mainNav ul,
.skillsContainer,
.social ul,
.navMobile ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.btn {
  padding: 10px 15px;
  color: white;
}

.btn:hover, .btn:focus {
  -webkit-box-shadow: 0 0 5px 0 black;
          box-shadow: 0 0 5px 0 black;
}

.btnPrimary {
  background: #C71585;
}

.btnSecondary {
  background: #7fa1ce;
}

span,
.highlightLink {
  color: #C71585;
}

html {
  font-size: 62.5%;
}

body,
a {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1 {
  color: #C71585;
  font-size: 9rem;
}

h2 {
  padding: 20px 0;
  text-transform: uppercase;
}

main h2 {
  color: #C71585;
}

footer p {
  font-size: 1.4rem;
}

header {
  background-image: url(../../assets/headerBg.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: #f9f9f9;
  height: 100vh;
}

.mainNav,
.navMobile {
  background-color: #efefef;
}

.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
}

.mainNav ul .navItem {
  padding: 15px 20px;
}

.mainNav ul .navItem a {
  color: #C71585;
  position: relative;
}

.mainNav ul .navItem a:hover::after {
  content: '';
  width: 90%;
  height: 40%;
  position: absolute;
  left: 5%;
  bottom: -10px;
  background-color: #7fa1ce;
}

.mainNav ul .navItem a:focus {
  color: #7fa1ce;
}

.headerContainer {
  height: calc(100% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerContainer h2 {
  text-transform: capitalize;
  padding: 0;
}

.hamburger {
  display: none;
  font-size: 2.5rem;
}

.hamburger button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #C71585;
  padding: 15px;
}

.navMobile {
  display: none;
  position: absolute;
  width: 100%;
  opacity: 0.9;
}

.navMobile li {
  padding: 10px;
  border-bottom: 2px solid #7fa1ce;
}

.navMobile li a {
  color: black;
  font-weight: 700;
}

.navMobile li a:hover, .navMobile li a:focus {
  color: #C71585;
}

.aboutSection,
.skillsSection,
.portfolioSection,
.contactSection {
  padding: 50px 0;
}

.aboutContainer,
.portfolioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skillsSection,
.contactSection {
  background-color: #f9f9f9;
}

.aboutImg p,
footer p {
  margin: 0;
  padding: 15px;
  color: white;
}

.aboutImg p,
footer {
  background: #C71585;
}

.aboutContainer {
  padding: 20px 0;
}

.aboutImg {
  width: 30%;
  margin: 20px 50px 20px 0;
}

.aboutImg img {
  border-top: 15px solid #C71585;
  border-bottom: 15px solid #C71585;
}

.aboutText {
  width: 70%;
}

.skillsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.skillsContainer .skillsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.skillsContainer figure {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillsContainer figure img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.skillsContainer figure figcaption {
  margin-top: 10px;
}

.skillsContainer figure .terminal {
  font-size: 6rem;
}

.portfolioContainer {
  padding: 30px 0 50px 0;
}

p.language {
  font-size: 1.4rem;
}

.portfolioImg {
  margin-right: 30px;
  width: 45%;
}

.portfolioDescription {
  width: 55%;
}

.portfolioDescription .portfolioLinks {
  padding: 20px 0;
}

.portfolioDescription .portfolioLinks a {
  margin-right: 10px;
}

.portfolioEven .portfolioImg {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 30px;
  margin-right: 0;
}

form {
  width: 70%;
  margin: 0 auto;
}

form fieldset {
  border: none;
  background: white;
  padding: 20px;
  -webkit-box-shadow: 0 0 8px #efefef;
          box-shadow: 0 0 8px #efefef;
}

form fieldset .formUserInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form fieldset .formUserInfo .name,
form fieldset .formUserInfo .email {
  width: 48%;
}

form fieldset .message {
  width: 100%;
  margin: 10px 0;
}

form fieldset .name,
form fieldset .email,
form fieldset .message {
  border: none;
  border-bottom: 2px solid #efefef;
  padding: 20px 0;
}

form fieldset .name:focus,
form fieldset .email:focus,
form fieldset .message:focus {
  outline: 2px solid #7fa1ce;
}

.social h3 {
  padding-top: 40px;
}

.socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialList i {
  color: #7fa1ce;
  padding: 20px;
  font-size: 3rem;
}

.socialList i:hover, .socialList i:focus {
  color: #C71585;
}

@media (max-width: 700px) {
  body,
  a {
    font-size: 1.8rem;
  }
  .mainNav .mobileHidden {
    display: none;
  }
  .mainNav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aboutContainer,
  .portfolioContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutImg {
    margin-right: 0;
    width: 50%;
  }
  .portfolioContainer {
    padding-bottom: 30px;
  }
  .portfolioImg {
    margin-right: 0;
    padding: 40px 0;
  }
  .portfolioImg,
  .portfolioDescription,
  .aboutText {
    width: 90%;
  }
  .portfolioEven .portfolioImg {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-left: 0;
  }
  form {
    width: 100%;
  }
  form fieldset .formUserInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form fieldset .formUserInfo .name,
  form fieldset .formUserInfo .email {
    width: 100%;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 6.5rem;
  }
  .portfolioLinks {
    text-align: center;
  }
  .skillsContainer {
    -ms-grid-columns: (minmax(140px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
  .skillsContainer figure img {
    width: 70px;
    height: 70px;
  }
}
/*# sourceMappingURL=style.css.map */